In [18]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
from scipy.stats import pearsonr

# Data Import and Cleanup

In [21]:
time_tracking = pd.read_csv('time_tracking.csv')

# clean up
time_tracking = time_tracking[time_tracking['state'].str.lower() == 'stopped']
time_tracking['datetime'] = time_tracking['datetime'].astype('datetime64')
time_tracking['activity'] = time_tracking['activity'].astype('category')
time_tracking = time_tracking[['activity','datetime', 'hours', 'client', 'project']]

time_tracking.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8143 entries, 1 to 16285
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   activity  8143 non-null   category
 1   datetime  8143 non-null   datetime64[ns]
 2   hours     8143 non-null   float64
 3   client    2100 non-null   object
 4   project   2100 non-null   object
dtypes: category(1), datetime64[ns](1), float64(1), object(2)
memory usage: 326.7+ KB

In [20]:
time_tracking.head()

            activity            datetime  hours client project
1  Client Production 2016-11-08 14:51:00   1.58    NaN     NaN
3  Client Production 2016-11-08 16:40:00   1.53    NaN     NaN
5  Client Production 2016-11-09 13:18:00   1.50    NaN     NaN
7  Client Production 2016-11-09 15:18:00   1.55    NaN     NaN
9  Client Production 2016-11-11 13:06:00   1.50    NaN     NaN

# Exploratory Data Analysis